In [32]:
import pandas as pd
import json

In [33]:
df = pd.read_csv('cleaned_data.csv')
df.head()

C:\Users\Cosmin\AppData\Local\Temp\ipykernel_16324\590414740.py:1: DtypeWarning: Columns (0,47,48,49,94,95,96,97,98,141,142,143,144,145,147,188,190,193,194,196,236,237,238,239,241,242,243,245,285,286,287,288,289,290,291,292,334,335,336,337,338,339,383,384,385,386,432,433) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('cleaned_data.csv')

,round_winner,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,player_1_has_defuser,player_1_has_helmet,player_1_armor_value,player_1_current_equip_value,...,player_10_CZ75-Auto,player_10_Desert Eagle,player_10_R8 Revolver,player_10_Dual Berettas,player_10_Smoke Grenade,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade
0,1,AMKAL,Krad,1.0,2.0,0.0,0.0,1.0,100.0,4350.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
1,0,AMKAL,Krad,1.0,4.0,0.0,1.0,1.0,81.0,4800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0,AMKAL,Krad,1.0,5.0,0.0,1.0,1.0,73.0,3700.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,AMKAL,Krad,1.0,5.0,1.0,0.0,0.0,100.0,4300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,AMKAL,Krad,1.0,6.0,2.0,0.0,0.0,0.0,700.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
df['round_winner'].count()

12359

In [35]:
df = df.dropna()

In [36]:
df['round_winner'].count()

11409

In [37]:
player_names = []
for i in range(1, 11):
    player_name_col = f'player_{i}_name'
    if player_name_col in df.columns:
        player_names.append(df[player_name_col])
all_player_names = pd.concat(player_names)
unique_player_names = all_player_names.unique()
print("Unique Player Names:", unique_player_names)

Unique Player Names: ['Krad' 'Twistzz' 'br0' 'MAJ3R' 'rain' 'karrigan' 'ropz' 'device' 'Skullz'
 '-shane' 'YEKINDAR' 'cadiaN' 'zews' 'electronic' 'JT' 'nawwk' 'hallzerk'
 'floppy' 'BOROS' 'EliGE' 'frozen' '0sacrifice' 'kyxsan' 'NertZ' 'Grim'
 'torzsi' 'Brollan' 'Eleej' 'Ciocardău' 'ZywOo' 'apEX' 'woxic' 'broky'
 'isak' 'Keoz' 'Snax' 'volt' 'XANTARES' 'xertioNN' 'MAJ3RR' 'Wicadia'
 'Calyx' 'w0nderful' 'REZ' 'lux' 'BELCHONOKK' 'Cabbi-' 'Senzu' 'Dupreeh'
 'fame' 'Snappi' 'iDISBALANCE' 'HEN1' 'Woro2k' 'jL' 'b1t' 'zont1x'
 'chopper' 'Jame' 'Vexite' 'mir' 'KRIMZ' 'kyuubii' 'FalleN' 'NAF' 'chelo'
 'Jimpphat' 'NiKo' 'huNter-' 'skullz' 'acoR' 'aNdu' 'n0rb3r7' 'nicoodoz'
 'Evancaw' 'noway' 'dea' 'brett' 'dycha' 'gla1ve' 'NAF-FLY' 'dexter'
 'J0TAAA-' 'short--' 'yekindar' 'twistzz' 'reck' 'malbsMd' 'Swisher'
 'xertioN' 'NAFFLY' 'Nexius' 'officialcadian' 'Sonic' 'maNkz_' 'kRaSnaL'
 'hazr' 'nafany' 'Boombl4' 'siuhy' 'HooXi' 'nexa' 'SENER1' 'sjuush'
 'refrezh^' 'magixx772' 'brollancs' 'es3tag' 'junior' '1chop' 'TwistzzCS'
 'benjam1n' 'ewjerkz' 'arrozdoce' 'roman' 'MUTiRiS' 'CacaNito' 'blameF'
 'donk' 'KENSI' 'magixx' 'shane' 'donk111' 'maden' 'SunPayus' 'SH1R0'
 'hally' 'baz' '910-' 'FL1T' 'Coach | mithR' 'STYKO' 'Coach | maddened'
 'Coach | dastan' 'prosus' 'HObbit' 'Ax1Le' 'KRiMZ' 'FL1TJO' 'bodyy'
 'Hop6epT' 'm0NESY' 'Aleksib' 'JAMEZWER' 'Hobbit' 'afro' 'Spinx' 'mezii'
 'JBa' 'Infinite' 'stanislaw' 'Mr. X' 'Lucky' 'doc' 'drg' 'kye' 'glowiing'
 'magnojez' 'zorte' 'maxster' 'r1nkle' 'Cryptic' 'cJ-dA-K1nG' 'Magisk'
 'dupreeh' 'chayJESUS' 'INS' 'xKacpersky' 'bibu' 'Aaron' 'MATYS' 'buda'
 'huNter' 'westmelon' 'Starry' 'slaxz-' 'iM' 'Jyo' 'Ryujin' 'Krimbo' 'naz'
 'shz' 'NickelBack' 'smooya' 'KSCERATO' 'Gizmy' 'KaiR0N-' 'Queenix' 'JUST'
 'n1ssim' 'sh1ro' 'lattykk' 'neaLaN' '1eeR' 'SHOCK' 'AJTT' 'CLASIA'
 'nython' 'dav1deuS' 'venomzera' 'snow' 'nqz' 'CRUC1AL' 'Surreal' '910'
 'Kaze' 'Staehr' 'jabbi' 'freshie' '1grimcs' 'TeSeS' 'flameZ' 'FL4MUS'
 'sl3nd' 'felps' 'calyxba' 'biguzera' 'Patsi' 'ArtFr0st' 'Techno' 'VINI'
 'Kylar' 'Goofy' 'aliStair' 'maNkz' 'MoDo' 'k1to' 'skullz1' 'Warden'
 'reckftp' 'BRACE' 'pz' 's1ren' 'teses' 'duppefar' 'Altekz' 'roeJ' 'WolfY'
 'story' 'jkaem' 'deko' 'snav' 'tizian1337' 'KOI dav1g' 'Mzinho'
 'Techno4K' 'OWNER' 'cptkurtka023' 'tabseN' 'Perfecto' 'afrocs2' 'SLIGHT'
 'motm' 'Ex3rcice' 'Djoko' 'Graviti' 'MartinezSa' 'HUASOPEEK' 'Magnojez'
 'Liazz' 'PwnAlone' 'alex' 'electroNic' 'Nodios' 'Patti' 'Porya' 'd1Ledez'
 'k0nfig' 'JDC' 'ponter' 'tN1R' 'sdy' 'sense' 'salazar' 'fr3nd' 'adamS'
 'oskar' 'BluePho3nix' 'AZUWU' 'JamYoung' 'stavn' 'dare' 'Axed' 'floppycs'
 'Jimpphatt' 'woxicc' 'Jerry' 'Maj3r' 'DemQQ' 'arT' 'Coach | sAw' 'lect'
 'n4f' 'HexT' 'Ryu' 'ADDICT' 'damyo' 'gxx' 'headtr1ck' 'Cxzi' 'Norwi'
 'chopperis' 'esenthial' 'yuurih' 'clax' 'syrsoN' 'FaNg' 'dgl' 'Ciocardau'
 'z4kr' 'Jee' 's1n' 'buster' 'Noktse' 'meyern' 'shalfey' 'danistzz'
 'mzinho' 'riskyb0b' 'beastik' 'Jeorge' 'hardzao' 'MiGHTYMAX' 'cej0t'
 'Mercury' 'Sdaim' 'TRAVIS' 'Brehzey' 'decenty' 'IceBerg0_0' 'skorpaN-'
 'cyn1c' 'hades' 'microJR' 'Rackem' 'r3salt' 'Matys176' 'nosraC' 'kraghen'
 'gxx-' 'tomaszin' 'iDk' 'pesadelo' 'SELLTER' 'toao' 'kauez' 'Xant3r'
 'NEOFRAG' 'nicks' 'zdr' 'ICY' 'Peeping' 'deco' 'learsi' 'MistRMaGI'
 'LUKE4k' '1snav' 'd4rty' 'leo_drk' 'HeavyGod' 'slaxz' 'HEAPp' 'nettik'
 'Lack1' 'oxygen' 'KOI stadodo' 'mantuu' 'horvy' 'Maka' 'togs' 'gafolo'
 'seized' 'EmiliaQAQ' 'bLitz' 'juanflatroo' 'rigoN' 'luchov' 'dav1g'
 'zevy' 'coldzera' 'advent' 'intrraa' 'Qikert' 'KWEZZLINGEN' 'history-'
 'adreN' 'oSee' 'Sapec' 'degster' 'TMBRO' 'asap' 'marixcsgo' 'donk1221'
 'npl' 'krimz1337' 'Sonic--' 'dgt' 'f4stzin' 'naitte' 'mopoz' 'khaN'
 'Forester' 'jason' 'Luckyv1-' 'shane059' 't9rnay' 'F1KU' 'jitter1'
 'SHiNE' 'cJ' 'viz_cs' 'TjP' 'sh1ro123' 'mir1' 'SINNERS | beastik1#'
 'sinnopsyy' 'cass1n' 'Tuurtle' 'matios' 'nbgee12' 'dare333' 'Grizzley'
 'Peppzor' 'chelleos' 'mwlkyy' 'KOI mopoz' 'max' 'ex1st' 'dapssss'
 'JW1337' 'MarKE' 'MRC9' 'c0llins' 'KOI adamS' 'mircsgo' 'WOOD7' 'Kraghen'
 'Demho' 'stadodo' 'Lucaozy' 'Coldzera' 'Consti#' 'den1eds' 'CLASIA1'
 'KOI JUST' 'oskart' 'rdnzao' 'bajmi']

In [38]:
len(unique_player_names)

448

In [39]:
player_team_names = []
for i in range(1, 11):
    player_team_col = f'player_{i}_team_name'
    if player_team_col in df.columns:
        player_team_names.append(df[player_team_col])
all_player_team_names = pd.concat(player_team_names)
unique_player_team_names = all_player_team_names.unique()
print("Unique Player Team Names:", unique_player_team_names)

Unique Player Team Names: ['AMKAL' 'Team Liquid' 'Astralis' 'Eternal Fire' 'FaZe Clan'
 'Badass Gaming' 'BOSS' 'Cloud9' 'Complexity' 'Apeks' 'Team Falcons'
 'FLUFFY AIMERS' 'HEROIC' 'MOUZ' 'PERA Esports' 'Team Vitality'
 'GamerLegion' 'Natus Vincere' 'Ninjas in Pyjamas' 'paiN Gaming'
 'PARIVISION' 'SASHI' 'The MongolZ' 'Virtus.pro' '9 Pandas'
 'Imperial Esports' 'Monte' 'Team Spirit' 'Virtus.Pro' 'FlyQuest' 'Fnatic'
 'FURIA' 'G2 Esports' 'Heroic' 'huge sweaty' 'ENCE' 'LOS' 'M80'
 'Nouns Esports' 'OG' 'Wildcard' 'Bad News Kangaroos' 'BetBoom'
 'Guild Eagles' 'Preasy Esport' 'Ninjas In Pyjamas' 'PartyAstronauts'
 'SAW' 'Aurora' 'Elevate' 'B8' 'BIG' 'WILDCARD' '3DMAX' 'Sharks' 'Fluxo'
 '9z' 'Lynn Vision Gaming' '1WIN' 'BESTIA' 'inSanitY' 'FORZE' 'ECSTATIC'
 'Movistar KOI' 'Nemiga' 'SINNERS' 'RED Canids' 'Endpoint' 'TYLOO'
 'Entropiq CS2' 'FNATIC' 'ODDIK' 'Enterprise esports' 'NRG.GG' 'Boss'
 'vagrants' 'Rooster' 'EYEBALLERS' 'ELEVATE']

REMEMBER THAT NAVI CAN WAS FOUND IN DEMOS AS NAVI, NAVI- AND NATUS VINCERE
Virtus.pro can be found as Virtus.proVP 
Team Liquid is also found as Liquid

In [40]:
len(unique_player_team_names)

79

In [41]:
with open('../data/players_stats.json') as file:
    players_stats = json.load(file)

with open('../data/teams_stats.json') as file:
    teams_stats = json.load(file)

teams_stats = {k.lower(): v for k, v in teams_stats.items()}
players_stats = {k.lower(): v for k, v in players_stats.items()}

In [42]:
json_player_names = list(players_stats.keys())
json_team_names = list(teams_stats.keys())

In [43]:
print("Number of players in JSON:", len(json_player_names))
print("Number of teams in JSON:", len(json_team_names))

Number of players in JSON: 332
Number of teams in JSON: 65

In [44]:
matching_player_names = [name for name in json_player_names if name.lower() in (n.lower() for n in unique_player_names)]
print(f"Matching Player Names: {len(matching_player_names)} out of {len(json_player_names)}")
print("Names:", matching_player_names)

Matching Player Names: 308 out of 332
Names: ['karrigan', 'rain', 'frozen', 'ropz', 'broky', 'aleksib', 'im', 'b1t', 'jl', 'w0nderful', 'brollan', 'siuhy', 'torzsi', 'jimpphat', 'xertion', 'chopper', 'sh1ro', 'magixx', 'zont1x', 'donk', 'niko', 'hunter', 'nexa', 'hooxi', 'm0nesy', 'apex', 'zywoo', 'flamez', 'spinx', 'mezii', 'maj3r', 'xantares', 'woxic', 'calyx', 'wicadia', 'device', 'stavn', 'br0', 'jabbi', 'staehr', 'electronic', 'fl1t', 'jame', 'n0rb3r7', 'fame', 'nertz', 'teses', 'nicoodoz', 'sjuush', 'kyxsan', 'elige', 'jt', 'floppy', 'hallzerk', 'grim', 'snappi', 'dupreeh', 'magisk', 'maden', 'sunpayus', 'biguzera', 'nqz', 'kauez', 'snow', 'lux', 'gla1ve', 'goofy', 'dycha', 'hades', 'kylar', 'cadian', 'naf', 'twistzz', 'yekindar', 'skullz', 'hen1', 'felps', 'vini', 'decenty', 'noway', 'blitz', 'techno', 'senzu', 'mzinho', '910', 'fallen', 'chelo', 'yuurih', 'kscerato', 'dexter', 'liazz', 'alistair', 'ins', 'vexite', 'mutiris', 'roman', 'story', 'ewjerkz', 'arrozdoce', 'nodios', 'patti', 'queenix', 'kraghen', 'salazar', 'lack1', 'kensi', 'norwi', 'deko', 'r3salt', 'woro2k', 'demqq', 'krasnal', 'ryu', 'gizmy', 'zorte', 'nafany', 's1ren', 'kair0n-', 'magnojez', 'snax', 'volt', 'sl3nd', 'andu', 'jkaem', 'nawwk', 'sense', 'cacanito', 'tabsen', 'syrson', 'jdc', 'prosus', 'krimbo', 'malbsmd', 'slaxz-', 'swisher', 'reck', 's1n', 'maka', 'lucky', 'djoko', 'ex3rcice', 'graviti', 'drg', 'togs', 'gafolo', 'rdnzao', 'doc', 'brace', 'hazr', 'pz', 'damyo', 'addict', 'seized', 'clax', 'idisbalance', 'glowiing', 'd1ledez', 'alex', 'rez', 'r1nkle', 'isak', 'maxster', 'pwnalone', 'cryptic', 'fang', 'freshie', 'd4rty', 'cj-da-k1ng', 'junior', 'nosrac', 'clasia', 'jeorge', 'boombl4', 'ax1le', 'art', 'lucaozy', 'zevy', 'chayjesus', 'nicks', 'aaron', 'ciocardau', 'porya', 'bibu', 'dgl', 'krimz', 'bodyy', 'afro', 'kyuubii', 'matys', 'max', 'dgt', 'buda', 'martinezsa', 'huasopeek', 'jee', 'westmelon', 'z4kr', 'starry', 'emiliaqaq', 'nealan', 'buster', 'jyo', 'ryujin', 'lattykk', 'noktse', 'meyern', 'luchov', 'naz', 'tomaszin', 'idk', 'shz', 'pesadelo', 'f4stzin', 'cass1n', 'sellter', 'nickelback', 'tn1r', 'shalfey', 'smooya', 'just', 'mopoz', 'stadodo', 'dav1g', 'adams', 'xant3r', '1eer', 'riskyb0b', 'khan', 'fl4mus', 'oskar', 'beastik', 'shock', 'ajtt', 'neofrag', 'coldzera', 'hardzao', 'nython', 'dav1deus', 'venomzera', 'cruc1al', 'mightymax', 'surreal', 'azuwu', 'cej0t', 'advent', 'kaze', 'jamyoung', 'mercury', 'zdr', 'wood7', 'ponter', 'tuurtle', 'naitte', 'matios', 'toao', 'demho', 'fr3nd', 'bajmi', 'ex1st', 'rigon', 'sener1', 'juanflatroo', 'sinnopsyy', 'gxx-', 'kye', 'xkacpersky', 'styko', 'n1ssim', 'mir', 'perfecto', 'k0nfig', 'sdy', 'bluepho3nix', 'hobbit', 'es3tag', 'danistzz', 'boros', 'headtr1ck', 'krad', 'forester', 'travis', 'icy', 'sdaim', 'shane', 'snav', 'dare', 'dea', 'peeping', 'brett', 'jason', 'qikert', 'belchonokk', 'patsi', 'artfr0st', 'jerry', 'luke4k', 'lect', 'leo_drk', 't9rnay', 'k1to', 'f1ku', 'heavygod', 'nexius', 'modo', 'stanislaw', 'sonic', 'slight', 'jba']

9Pandas Esports -> 9 Pandas | EcstaticCS2 -> ECSTATIC | 9z Globant -> 9z

In [46]:
matching_team_names = [
    name for name in json_team_names if isinstance(name, str) and name.lower() in 
    (n.lower() for n in unique_player_team_names if isinstance(n, str))
]

print(f"Matching Team Names: {len(matching_team_names)} out of {len(json_team_names)}")
print("Names:", matching_team_names)
missing_team_names = [
    name for name in unique_player_team_names if isinstance(name, str) and 
    name.lower() not in (n.lower() for n in matching_team_names if isinstance(n, str))
]
print(f"Missing Team Names: {missing_team_names}")

Matching Team Names: 62 out of 65
Names: ['faze clan', 'natus vincere', 'mouz', 'team spirit', 'g2 esports', 'team vitality', 'eternal fire', 'astralis', 'virtus.pro', 'heroic', 'complexity', 'team falcons', 'pain gaming', 'ence', 'team liquid', 'imperial esports', 'the mongolz', 'furia', 'flyquest', 'saw', 'aurora', 'monte', 'betboom', 'gamerlegion', 'apeks', 'big', 'm80', 'bad news kangaroos', 'sharks', '3dmax', '9 pandas', 'ninjas in pyjamas', 'boss', 'nouns esports', 'cloud9', 'fluxo', 'pera esports', 'fnatic', '9z', 'lynn vision gaming', '1win', 'bestia', 'insanity', 'forze', 'ecstatic', 'movistar koi', 'nemiga', 'sinners', 'red canids', 'endpoint', 'tyloo', 'oddik', 'enterprise esports', 'guild eagles', 'amkal', 'fluffy aimers', 'parivision', 'sashi', 'huge sweaty', 'los', 'og', 'wildcard']
Missing Team Names: ['Badass Gaming', 'Preasy Esport', 'PartyAstronauts', 'Elevate', 'B8', 'Entropiq CS2', 'NRG.GG', 'vagrants', 'Rooster', 'EYEBALLERS', 'ELEVATE']

drop team One esports since / vagrants there is no info on hltv about the Team

In [95]:
missing_player_names = [name for name in unique_player_names if name.lower() not in (n.lower() for n in matching_player_names)]
print(f"Missing Player Names: {missing_player_names}")

Missing Player Names: []

In [96]:
def get_unique_teams(row):
    teams = {row[f'player_{i}_team_name'] for i in range(1, 11) if f'player_{i}_team_name' in row}
    return list(teams)

df['unique_teams'] = df.apply(get_unique_teams, axis=1)

In [97]:
df.head()

,round_winner,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,player_1_has_defuser,player_1_has_helmet,player_1_armor_value,player_1_current_equip_value,...,player_10_Desert Eagle,player_10_R8 Revolver,player_10_Dual Berettas,player_10_Smoke Grenade,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade,unique_teams
0,1,G2 Esports,NiKo,0,1,1,0,0,0.0,700.0,...,0,0,0,1,0,1,1,0,0,"[G2 Esports, 3DMAX]"
1,1,G2 Esports,NiKo,0,1,2,0,1,100.0,4100.0,...,0,0,0,1,1,1,1,0,0,"[G2 Esports, 3DMAX]"
2,0,G2 Esports,NiKo,0,1,3,0,1,100.0,5100.0,...,0,0,0,1,1,0,1,0,0,"[G2 Esports, 3DMAX]"
3,1,G2 Esports,NiKo,0,3,4,0,1,100.0,2800.0,...,0,0,0,1,1,0,1,0,0,"[G2 Esports, 3DMAX]"
4,1,G2 Esports,NiKo,0,4,5,0,0,0.0,200.0,...,0,0,0,1,1,1,1,0,0,"[G2 Esports, 3DMAX]"

In [103]:
def team_stats_lookup(teams, stat):
    return [teams_stats.get(team.lower(), {}).get(stat, 'NA') for team in teams]

In [105]:
df['team_1_position'] = df['unique_teams'].apply(lambda teams: team_stats_lookup(teams, 'position')[0] if len(teams) > 0 else 'NA')
df['team_1_win_percentage'] = df['unique_teams'].apply(lambda teams: team_stats_lookup(teams, 'win_percentage')[0] if len(teams) > 0 else 'NA')
df['team_2_position'] = df['unique_teams'].apply(lambda teams: team_stats_lookup(teams, 'position')[1] if len(teams) > 0 else 'NA')
df['team_2_win_percentage'] = df['unique_teams'].apply(lambda teams: team_stats_lookup(teams, 'win_percentage')[1] if len(teams) > 0 else 'NA')

In [107]:
df.head()

,round_winner,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,player_1_has_defuser,player_1_has_helmet,player_1_armor_value,player_1_current_equip_value,...,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade,unique_teams,team_1_position,team_1_win_percentage,team_2_position,team_2_win_percentage
0,1,G2 Esports,NiKo,0,1,1,0,0,0.0,700.0,...,0,1,1,0,0,"[G2 Esports, 3DMAX]",5,66.7,30,58.1
1,1,G2 Esports,NiKo,0,1,2,0,1,100.0,4100.0,...,1,1,1,0,0,"[G2 Esports, 3DMAX]",5,66.7,30,58.1
2,0,G2 Esports,NiKo,0,1,3,0,1,100.0,5100.0,...,1,0,1,0,0,"[G2 Esports, 3DMAX]",5,66.7,30,58.1
3,1,G2 Esports,NiKo,0,3,4,0,1,100.0,2800.0,...,1,0,1,0,0,"[G2 Esports, 3DMAX]",5,66.7,30,58.1
4,1,G2 Esports,NiKo,0,4,5,0,0,0.0,200.0,...,1,1,1,0,0,"[G2 Esports, 3DMAX]",5,66.7,30,58.1

In [108]:
insert_pos = df.columns.get_loc('round_winner') + 1

team_stats_cols = ['team_1_position', 'team_1_win_percentage', 'team_2_position', 'team_2_win_percentage']

for col in reversed(team_stats_cols):
    df.insert(insert_pos, col, df.pop(col))

In [109]:
df.head()

,round_winner,team_1_position,team_1_win_percentage,team_2_position,team_2_win_percentage,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,...,player_10_Desert Eagle,player_10_R8 Revolver,player_10_Dual Berettas,player_10_Smoke Grenade,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade,unique_teams
0,1,5,66.7,30,58.1,G2 Esports,NiKo,0,1,1,...,0,0,0,1,0,1,1,0,0,"[G2 Esports, 3DMAX]"
1,1,5,66.7,30,58.1,G2 Esports,NiKo,0,1,2,...,0,0,0,1,1,1,1,0,0,"[G2 Esports, 3DMAX]"
2,0,5,66.7,30,58.1,G2 Esports,NiKo,0,1,3,...,0,0,0,1,1,0,1,0,0,"[G2 Esports, 3DMAX]"
3,1,5,66.7,30,58.1,G2 Esports,NiKo,0,3,4,...,0,0,0,1,1,0,1,0,0,"[G2 Esports, 3DMAX]"
4,1,5,66.7,30,58.1,G2 Esports,NiKo,0,4,5,...,0,0,0,1,1,1,1,0,0,"[G2 Esports, 3DMAX]"

In [110]:
df.drop(columns=['unique_teams'], inplace=True)

In [111]:
df.head()

,round_winner,team_1_position,team_1_win_percentage,team_2_position,team_2_win_percentage,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,...,player_10_CZ75-Auto,player_10_Desert Eagle,player_10_R8 Revolver,player_10_Dual Berettas,player_10_Smoke Grenade,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade
0,1,5,66.7,30,58.1,G2 Esports,NiKo,0,1,1,...,0,0,0,0,1,0,1,1,0,0
1,1,5,66.7,30,58.1,G2 Esports,NiKo,0,1,2,...,0,0,0,0,1,1,1,1,0,0
2,0,5,66.7,30,58.1,G2 Esports,NiKo,0,1,3,...,0,0,0,0,1,1,0,1,0,0
3,1,5,66.7,30,58.1,G2 Esports,NiKo,0,3,4,...,0,0,0,0,1,1,0,1,0,0
4,1,5,66.7,30,58.1,G2 Esports,NiKo,0,4,5,...,0,0,0,0,1,1,1,1,0,0

In [112]:
all_new_columns = {}

for i in range(1, 11):
    if f'player_{i}_name' in df.columns:
        new_columns_df = pd.DataFrame(index=df.index)
        
        new_columns_df[f'player_{i}_rating'] = df[f'player_{i}_name'].str.lower().map(lambda x: players_stats.get(x, {}).get('Rating', 'NA'))
        new_columns_df[f'player_{i}_kills_per_round'] = df[f'player_{i}_name'].str.lower().map(lambda x: players_stats.get(x, {}).get('Kills Per Round', 'NA'))
        new_columns_df[f'player_{i}_headshots'] = df[f'player_{i}_name'].str.lower().map(lambda x: players_stats.get(x, {}).get('Headshots', 'NA'))
        new_columns_df[f'player_{i}_deaths_per_round'] = df[f'player_{i}_name'].str.lower().map(lambda x: players_stats.get(x, {}).get('Deaths Per Round', 'NA'))
        new_columns_df[f'player_{i}_rounds_contributed'] = df[f'player_{i}_name'].str.lower().map(lambda x: players_stats.get(x, {}).get('Rounds Contributed', 'NA'))
        
        all_new_columns[f'player_{i}_name'] = new_columns_df

In [113]:
for key, value in all_new_columns.items():
    insert_pos = df.columns.get_loc(key) + 1
    df = pd.concat([df.iloc[:, :insert_pos], value, df.iloc[:, insert_pos:]], axis=1)

In [114]:
df.head()

,round_winner,team_1_position,team_1_win_percentage,team_2_position,team_2_win_percentage,player_1_team_name,player_1_name,player_1_rating,player_1_kills_per_round,player_1_headshots,...,player_10_CZ75-Auto,player_10_Desert Eagle,player_10_R8 Revolver,player_10_Dual Berettas,player_10_Smoke Grenade,player_10_High Explosive Grenade,player_10_Flashbang,player_10_Incendiary Grenade,player_10_Molotov,player_10_Decoy Grenade
0,1,5,66.7,30,58.1,G2 Esports,NiKo,1.18,0.72,51.8,...,0,0,0,0,1,0,1,1,0,0
1,1,5,66.7,30,58.1,G2 Esports,NiKo,1.18,0.72,51.8,...,0,0,0,0,1,1,1,1,0,0
2,0,5,66.7,30,58.1,G2 Esports,NiKo,1.18,0.72,51.8,...,0,0,0,0,1,1,0,1,0,0
3,1,5,66.7,30,58.1,G2 Esports,NiKo,1.18,0.72,51.8,...,0,0,0,0,1,1,0,1,0,0
4,1,5,66.7,30,58.1,G2 Esports,NiKo,1.18,0.72,51.8,...,0,0,0,0,1,1,1,1,0,0

In [115]:
df.to_csv('cleaned_data_with_stats.csv', index=False)