In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv('../data/data.csv')
df.head()

C:\Users\cosmi\AppData\Local\Temp\ipykernel_2528\1185706848.py:1: DtypeWarning: Columns (6,7,17,18,28,29,72,73,94,95,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data.csv')

,player_1_team_name,player_1_name,player_1_team_num,player_1_kills_total,player_1_deaths_total,player_1_inventory,player_1_has_defuser,player_1_has_helmet,player_1_armor_value,player_1_current_equip_value,...,player_10_team_num,player_10_kills_total,player_10_deaths_total,player_10_inventory,player_10_has_defuser,player_10_has_helmet,player_10_armor_value,player_10_current_equip_value,player_10_balance,round_winner
0,AMKAL,Krad,3.0,2.0,0.0,"['knife_karambit', 'USP-S', 'FAMAS', 'Flashban...",False,True,100.0,4350.0,...,3.0,1.0,1.0,"['knife_butterfly', 'USP-S', 'FAMAS', 'Smoke G...",False,True,100.0,4050.0,100.0,CT
1,AMKAL,Krad,3.0,4.0,0.0,"['knife_karambit', 'USP-S', 'Galil AR', 'Smoke...",True,True,81.0,4800.0,...,3.0,3.0,2.0,"['knife_butterfly', 'P250', 'Flashbang']",False,False,0.0,500.0,1800.0,T
2,AMKAL,Krad,3.0,5.0,0.0,"['knife_karambit', 'USP-S', 'Galil AR', 'Smoke...",True,True,73.0,3700.0,...,3.0,3.0,3.0,"['knife_butterfly', 'CZ75-Auto']",False,False,0.0,500.0,3700.0,T
3,AMKAL,Krad,3.0,5.0,1.0,"['knife_karambit', 'USP-S', 'Smoke Grenade', '...",False,False,100.0,4300.0,...,3.0,3.0,4.0,"['knife_butterfly', 'USP-S', 'AWP']",False,False,100.0,5600.0,50.0,T
4,AMKAL,Krad,3.0,6.0,2.0,"['knife_karambit', 'USP-S', 'Flashbang', 'Smok...",False,False,0.0,700.0,...,3.0,5.0,5.0,"['knife_butterfly', 'USP-S']",False,False,0.0,200.0,3150.0,T

In [3]:
df['round_winner'].count()

8257

In [4]:
round_winner = df.pop('round_winner')
df.insert(0, 'round_winner', round_winner)

In [5]:
df.columns

Index(['round_winner', 'player_1_team_name', 'player_1_name',
       'player_1_team_num', 'player_1_kills_total', 'player_1_deaths_total',
       'player_1_inventory', 'player_1_has_defuser', 'player_1_has_helmet',
       'player_1_armor_value',
       ...
       'player_10_name', 'player_10_team_num', 'player_10_kills_total',
       'player_10_deaths_total', 'player_10_inventory',
       'player_10_has_defuser', 'player_10_has_helmet',
       'player_10_armor_value', 'player_10_current_equip_value',
       'player_10_balance'],
      dtype='object', length=111)

In [6]:
df = df.dropna()

In [7]:
df['round_winner'].count()

7531

In [8]:
df['round_winner'].unique()

array(['CT', 'T', '3', '2', '1'], dtype=object)

In [9]:
round_winner_counts = df['round_winner'].value_counts()
print(round_winner_counts)

round_winner
CT    2774
T     2638
3     1064
2     1013
1       42
Name: count, dtype: int64

In [10]:
df = df[df['round_winner'] != "1"]

In [11]:
df['round_winner'].count()

7489

In [12]:
df['round_winner'] = df['round_winner'].replace({'CT': 1, '3': 1, 'T': 0, '2': 0}).astype(int)

C:\Users\Cosmin\AppData\Local\Temp\ipykernel_15040\1361703144.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['round_winner'] = df['round_winner'].replace({'CT': 1, '3': 1, 'T': 0, '2': 0}).astype(int)

In [13]:
df['round_winner'].unique()

array([1, 0])

In [14]:
round_winner_counts = df['round_winner'].value_counts()
print(round_winner_counts)

round_winner
1    3838
0    3651
Name: count, dtype: int64

In [15]:
team_num_columns = [f'player_{i}_team_num' for i in range(1, 11)]

In [16]:
df['round_winner'].count()

7489

In [17]:
for i in range(1, 11):
    df[f'player_{i}_team_num'] = df[f'player_{i}_team_num'].replace({2.0: 0, 3.0: 1}).astype(int)
    for suffix in ['has_defuser', 'has_helmet']:
        column_name = f'player_{i}_{suffix}'
        df = df[df[column_name].isin([True, False])]
boolean_columns = [f'player_{i}_{suffix}' for i in range(1, 11) for suffix in ['has_defuser', 'has_helmet']]
df[boolean_columns] = df[boolean_columns].astype(int)

In [18]:
for i in range(1,11):
    print(df[f'player_{i}_team_num'].unique())

[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[1 0]
[0 1]
[1 0]

In [19]:
primary_weapons = [
    'AK-47', 'M4A1-S', 'M4A4', 'AWP', 'AUG', 'SG 553', 'FAMAS', 'Galil AR',
    'Scar-20', 'G3SG1', 'MP5-SD', 'UMP-45', 'P90', 'MAC-10', 'MP7', 'MP9',
    'PP-Bizon', 'Negev', 'M249', 'Nova', 'XM1014', 'Sawed-Off', 'MAG-7'
]
secondary_weapons = [
    'P2000', 'USP-S', 'Glock-18', 'P250', 'Five-SeveN', 'Tec-9', 
    'CZ75-Auto', 'Desert Eagle', 'R8 Revolver', 'Dual Berettas'
]

grenades = ['Smoke Grenade', 'High Explosive Grenade', 'Flashbang', 'Incendiary Grenade', 'Molotov', 'Decoy Grenade']

In [20]:
all_new_columns = {}

In [21]:
for i in range(1, 11):
    if f'player_{i}_balance' in df.columns:
        new_columns_df = pd.DataFrame(index=df.index)
        for item in primary_weapons + secondary_weapons + grenades:
            new_columns_df[f'player_{i}_{item}'] = 0

        all_new_columns[f'player_{i}_balance'] = new_columns_df

In [22]:
for key, value in all_new_columns.items():
    insert_pos = df.columns.get_loc(key) + 1
    df = pd.concat([df.iloc[:, :insert_pos], value, df.iloc[:, insert_pos:]], axis=1)

In [23]:
def convert_to_list(x):
    try:
        return ast.literal_eval(x)
    except ValueError:
        return []  
    except SyntaxError:
        return []

In [24]:
for i in range(1, 11):
    column_name = f'player_{i}_inventory'
    df[column_name] = df[column_name].apply(convert_to_list)

In [25]:
def one_hot_encode_inventory(row):
    for i in range(1, 11):
        inventory = row[f'player_{i}_inventory']
        if isinstance(inventory, list):
            for item in inventory:
                if item in primary_weapons or item in secondary_weapons:
                    row[f'player_{i}_{item}'] = 1
                elif item in grenades:
                    row[f'player_{i}_{item}'] = 1
    return row

In [26]:
df = df.apply(one_hot_encode_inventory, axis=1)

In [27]:
for i in range(1, 11):
    df.drop(columns=[f'player_{i}_inventory'], inplace=True)

In [ ]:
player_names = []
for i in range(1, 11):
    player_name_col = f'player_{i}_name'
    if player_name_col in df.columns:
        player_names.append(df[player_name_col])
all_player_names = pd.concat(player_names)
unique_player_names = all_player_names.unique()
print("Unique Player Names:", unique_player_names)

In [ ]:
len(unique_player_names)

In [ ]:
player_team_names = []
for i in range(1, 11):
    player_team_col = f'player_{i}_team_name'
    if player_team_col in df.columns:
        player_team_names.append(df[player_team_col])
all_player_team_names = pd.concat(player_team_names)
unique_player_team_names = all_player_team_names.unique()
print("Unique Player Team Names:", unique_player_team_names)

REMEMBER THAT NAVI CAN WAS FOUND IN DEMOS AS NAVI, NAVI- AND NATUS VINCERE
Virtus.pro can be found as Virtus.proVP 
Team Liquid is also found as Liquid

In [ ]:
len(unique_player_team_names)

In [ ]:
with open('../data/players_stats.json') as file:
    players_stats = json.load(file)

with open('../data/teams_stats.json') as file:
    teams_stats = json.load(file)

teams_stats = {k.lower(): v for k, v in teams_stats.items()}
players_stats = {k.lower(): v for k, v in players_stats.items()}

In [ ]:
json_player_names = list(players_stats.keys())
json_team_names = list(teams_stats.keys())
print("Number of players in JSON:", len(json_player_names))
print("Number of teams in JSON:", len(json_team_names))

In [ ]:
matching_player_names = [name for name in json_player_names if name.lower() in (n.lower() for n in unique_player_names)]
print(f"Matching Player Names: {len(matching_player_names)} out of {len(json_player_names)}")
print("Names:", matching_player_names)

9Pandas Esports -> 9 Pandas | EcstaticCS2 -> ECSTATIC | 9z Globant -> 9z

In [ ]:
matching_team_names = [
    name for name in json_team_names if isinstance(name, str) and name.lower() in 
    (n.lower() for n in unique_player_team_names if isinstance(n, str))
]

print(f"Matching Team Names: {len(matching_team_names)} out of {len(json_team_names)}")
print("Names:", matching_team_names)
missing_team_names = [
    name for name in unique_player_team_names if isinstance(name, str) and 
    name.lower() not in (n.lower() for n in matching_team_names if isinstance(n, str))
]
print(f"Missing Team Names: {missing_team_names}")

drop team One esports since / vagrants there is no info on hltv about the Team

In [ ]:
missing_player_names = [name for name in unique_player_names if name.lower() not in (n.lower() for n in matching_player_names)]
print("Missing players count:", len(missing_player_names))
print(f"Missing Player Names: {missing_player_names}")

In [3]:
df1 = pd.read_csv('../data/cleaned_rounds_data_60gb_of_demos.csv')

In [4]:
df2 = pd.read_csv('../data/cleaned_rounds_data_100gb_of_demos.csv')

In [5]:
merged_df = pd.concat([df1, df2])

In [6]:
merged_df['round_winner'].count()

11686

In [7]:
merged_df.to_csv('cleaned_rounds_data.csv', index=False)